
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Product list</h3>
  </div>
  <div class="panel-body">

    <table class="table table-bordred table-striped">
      <thead>
        <tr>
          <th>Code du produit</th>
          <th>Libellé</th>
          <th>Prix Unitaire</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of data">
          <td>{{p.code}}</td>
          <td>{{p.libelle}}</td>
          <td>{{p.prixUnitaire}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
